/*Custom StyleSheet for Orientation Template*/

/* Container Div */
.orientation-main{
    width: 100%;
    height: 100%;
    color: black;
    background-color: #7fcbff;
    min-height: 50em;
}

.orientation-main h1{
    font-size: 12vmin;
    color: white;
    text-shadow: 3px 2px black;
    font-weight: bold;
}

.orientation-main h2{
    font-size: 3vmin;
    color: black;
    margin: 0;
}

.orientation-background-color{
    background-color: #edf1f2;
}

/* Main Divs */
#orientation-background{
    position: fixed;
    width: 100%;
    height: 100%;
}

#orientation-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
}

#orientation-content{
    position: relative;
    height: 100%;
    padding: 3em;
}

/* Content div */
#orientation-top{
    flex-grow: 3;
    justify-content: center;
    
}

/* Navigation div */
#orientation-nav{
    flex-grow: 1;
    justify-content: space-evenly;
}

.orientation-nav-element{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

#orientation-nav img{
    width: 5vmax;
    height: 5vmax;
    margin: 0 auto;
}

#orientation-title{
    justify-content: center;
    text-align: center;
}

#orientation-display{
    padding: 5%;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}

/*Background div */
#orientation-background-image{
    object-fit: cover;
    clip-path: polygon(25vmax 0,0 40vmax, 0 0,80vmax 0,100vmax 30vmax,100vmax 0);
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

.orientation-full{
    height:100%;
    width: 100%;
    position: absolute;
}

.orientation-icon{
    font-size: 3em;
}

#orientation-links{
    margin-top: 20px;   
}

#orientation-links i{
    color: white;
    text-shadow: 1px 1px black;
}
#orientation-links i:hover{
    color: #3B5998;
}

.orientation-tile{
    background-color: rgb(80, 172, 200);
    color: rgb(255, 255, 255);
    width: 196px;
    height: 96px;
}

.orientation-tile-icon{
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.orientation-tile-inner{
    justify-content: flex-end;
}

.orientation-rightarrow{
    position: fixed;
    font-size: 6em;
    top: 5%;
    right: 5%;
    color: white;
    text-shadow: -1px 1px black;
}

@media screen and (max-width: 55em){

    #orientation-top{
        flex-direction: column;
    }
    #orientation-nav{
        flex-wrap: wrap;
        justify-content: space-between;

    }
    .orientation-nav-element{
        flex-grow: 1;
        margin: 2%
    }
    #orientation-content{
        padding: 0;
    }
    #orientation-background-image{
        clip-path: polygon(70vmax 0,0 15vmax, 0 0);
    }
    #orientation-display{
        font-size: 1em;
    }
}
