/*Custom StyleSheet for Orientation Template*/

/* Container Div */
.orientation-main{
    width: 100%;
    height: 100%;
}

.orientation-background-color{
    background-color: #6bdbaa;
}

.orientation-background{
    posistion: fixed;
}

.orientation-overlay{
    posistion: fixed;
}
