/*Custom StyleSheet for Orientation Template*/

/* Container Div */
.orientation-main{
    width: 100%;
    height: 100%;
    color: white;
}

.orientation-main h1{
    font-size: 10vmax;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.orientation-main h2{
    font-size: 2vmax;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.orientation-background-color{
    background-color: #00a092;
}

/* Main Divs */
#orientation-background{
    position: fixed;
    width: 100%;
    height: 100%;
}

#orientation-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
}

#orientation-content{
    position: relative;
    height: 100%;
}

/* Content div */
#orientation-top{
    flex-grow: 3;
    
}

/* Navigation div */
#orientation-nav{
    flex-grow: 1;
    justify-content: space-evenly;
}

.orientation-nav-element{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

#orientation-nav img{
    width: 5vmax;
    height: 5vmax;
    margin: 0 auto;
}

#orientation-title{
    flex-grow:1;
    justify-content: center;
    padding-left: 4vmin;
}

#orientation-display{
    padding: 10%;
    flex-grow:1;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

/*Background div */
#orientation-background-image{
    object-fit: cover;
    clip-path: polygon(30% 0,0 100%, 0 0,70% 0,100% 50%,100% 0);
    position: fixed;
    height: 90%;
    width: 100%;
}

.orientation-full{
    height:100%;
    width: 100%;
    position: fixed;
}

.orientation-icon{
    font-size: 3em;
}

#orientation-links{
    margin-top: 20px;   
}

#orientation-links i{
    color: black;
}
#orientation-links i:hover{
    color: #3B5998;
}

.orientation-tile{
    background-color: rgb(80, 172, 200);
    color: rgb(255, 255, 255);
    width: 196px;
    height: 96px;
}

.orientation-tile-icon{
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.orientation-tile-inner{
    justify-content: flex-end;
}
