/*Custom StyleSheet for Orientation Template*/

/* Container Div */
.orientation-main{
    width: 100%;
    height: 100%;
}

.orientation-background-color{
    background-color: #6bdbaa;
}

/* Main Divs */
#orientation-background{
    position: fixed;
    width: 100%;
    height: 100%;
}

#orientation-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
}

#orientation-content{
    position: fixed;
    width: 100%;
    height: 100%;
}

/* Content div */
#orientation-top{
    flex-grow: 2;
    
}

/* Navigation div */
#orientation-nav{
    flex-grow: 1;
}

.orientation-nav-element{
    
}

#orientation-title{
    flex-grow:1;
}

#orientation-display{
    flex-grow:1;
}

/*Background div */
#orientation-background-image{
    object-fit: cover;
    clip-path: polygon(0 0, 30% 0, 0 100%);
    posistion: fixed;
}

#orientation-full{
    height:100%;
    width: 100%;
    position: fixed;
}
