@font-face {
    font-family: 'Stag Web';
    src: url('https://rawgit.com/AraOrientation/Orientation/master/Stag-Book-Web.eot');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
