/* Landing Page */

#orientation-ara-logo{
    object-fit: contain;
    width: 70%;
    margin: 0 auto;
}

#orientation-top{
  background-image: radial-gradient(rgba(255,255,255,0.7) 50%,rgba(255,255,255,0.3));
}

a:hover{
  color:#009cad;
}

.orientation-main{
    min-height: 40em;
}

@media screen and (max-width: 55em){
    #orientation-ara-logo{
        margin-bottom: 5%;
    }
}
